.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .card {
        min-width: 240px;
        margin: 20px 10px 0 10px; 
        min-height: 220px;
        justify-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        .slider {
            width: 160px;
        }
        .button {
            margin-bottom: 10px;
        }
    }
    .saltlamp {
        min-height: 150px;
    }
}

@media only screen and (min-width: 600px) {
    .main {
        flex-direction: row;
        .card {
            margin-top: 20px;
            align-self: flex-start;
        }
    }
}